<div id="main">
    <div class="error">
        <h1>Error 404</h1>
        
        <h2 >Let's go <a routerLink="/home">Home</a> </h2>
        <h2 >If you are sad, you can go <a routerLink="/products">Shopping</a> *_^ </h2>
        
        <img src="https://as2.ftcdn.net/v2/jpg/04/19/12/35/1000_F_419123512_4Vu4Lai51zvqR2RRXIKdnG3skRz2UdyO.jpg" >
        <p routerLink="/Home">Let's go to the <a routerLink="/products">products</a> page to buy a new vase before grandma arrives :) </p>
        
    </div>
</div>