
<section class="container-fluid containerAnimation" id="signIn">
    <div class="container" style="display: flex; flex-direction: row; width:60%">
        
        <div class="container imgbox">
            <img src="/assets/images/login.webp">
        </div>

        <div class="container">
            <h2>Welcome !</h2>
            <!-- <div><img src="/assets/images/logo.png" class="logo"></div> -->
            
            <div class="infoBox">
                <form [formGroup]="myForm" (ngSubmit)="sendInfo()">
                    <input type="text" class="input" placeholder="Username" id="email" required formControlName="userName">
                    <input type="text" class="input"  placeholder="Full Name" required formControlName="fullName">
                    <input type="password" class="input" placeholder="Password" required formControlName="password">
                </form>

                    <br>
                    <p class="policyInfo">By Creating an account you agree to <br>the User Agreement and Privacy Policy</p>
                    <button class="btn" [disabled]="myForm.invalid">Create Account</button>
            </div>
    
            <br>
            <div style="display: inline-flex; font-size: smaller;">
                
                <p style="font-family: 'Dancing Script', cursive;">Do you already have an account? </p>
                <p><a routerLink="/LogIn" > Sign In </a></p>
                
            </div>
        </div>
        
    </div>
    
</section >

