
<section  class="container-fluid" id="Register">
    
    <div class="container box" style="display: flex; flex-direction: row; width:80%">
        <div class="container">
            <h2>Welcome Back!</h2>

            <div class="infoBox">
                <form >
                    <input type="text" class="input" placeholder="UserName" required [(ngModel)]="user" name="username">
                    <input type="password" class="input"  placeholder="Password" required [(ngModel)]="paroli" name="password">
                </form>
                    <br>
                    <p class="policyInfo">By signing in you agree to <br>the User Agreement and Privacy Policy </p>
                    <button class="btn" (click)="login(user, paroli)"> Sign In </button>
            </div>
    
            <br>
            <div style="display: inline-flex; font-size: smaller;">
                <p style="font-family: 'Dancing Script', cursive;">Don't you have an account? </p>
                <p><a routerLink="/registration" > Register </a></p>
                
            </div>
    
            
        </div>
        <div class="container imgbox">
            <img src="https://engineering.tamu.edu/news/2022/04/_news-images/CSCE-News-Saxena-Research-13April2022.jpg">
            
        </div>
        
    
    </div>
</section >